body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: sans-serif;
  color: $dark-text;
  background: #f5f5f5;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: inherit;
  color: inherit;
  outline: none;
}

.title {
  font-family: Lato, Helvetica, sans-serif;
}

.noselect {
  user-select: none;
}