body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: sans-serif;
  color: $dark-text;
  background: rgba($color3, 0.1);
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: inherit;
  color: inherit;
  outline: none;
}

.title {
  font-family: Lato, Helvetica, sans-serif;
}
