body {
  padding: 0;
  margin: 0;
  font-weight: 300;
  font-size: 16px;
  font-family: Lato, Helvetica, sans-serif;
  color: $dark-text;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: inherit;
  color: inherit;
  outline: none;
}

.content {
  max-width: 900px;
  padding: 20px;
  margin: auto;
}

.noselect {
  user-select: none;
}
