@import "../../styles/variables/variables";

.postfeed {
  .navigation {
    text-align: center;
    margin: 80px auto;
  }
  .navigate {
    display: inline-block;
    padding-bottom: 10px;
    margin: 0 20px;
    font-weight: bold;
    font-size: 20px;
    border-bottom: 2px solid $dark-text;
    &:nth-child(2) {
      margin-left: 10px;
    }
  }
}
