@import "../../styles/variables/variables";

.postfeed {
  .navigation {
    text-align: center;
    margin: 80px auto;
  }
  .navigate {
    display: inline-block;
    padding: 10px;
    border: 1px solid $light-border;
    &:nth-child(2) {
      margin-left: 10px;
    }
  }
}
