@import "../../styles/variables/variables";

.createpostform {
  .inputs-categories {
    input[type=checkbox] {
      display: inline-block;
      overflow: hidden;
      appearance: none;
      width: 0;
      height: 0;
      margin: 0;
      opacity: 0.01;
    }

    input[type=checkbox] + label {
      &:before {
        display: inline-block;
        width: 10px;
        height: 10px;
        margin-right: 5px;
        content: "";
        background: none;
        border: 1px solid $dark-text;
      }
    }

    input[type=checkbox]:checked + label {
      &:before {
        background: #555555;
      }
    }
  }

  .texteditor {
    width: 100%;
    margin-bottom: 20px;
    border-color: #cccccc;
    border-radius: 1px;

    [contenteditable] {
      height: 200px;
    }
  }

  h4 {
    text-decoration: underline;
  }

  .fileinput-preview {
    margin-bottom: 20px;
    font-size: 12px;

    img {
      max-width: 200px;
      margin-bottom: 5px;
    }
  }

  .fileinput-wrap {
    position: relative;
    display: inline-block;

    > * {
      cursor: pointer;
    }
  }

  #fileinput {
    position: absolute;
    width: 0;
    height: 0;
    margin: 0;
    opacity: 0;
  }
}
