@import "../../styles/variables/variables";

.mainmenu {
  display: flex;
  height: 60px;
  color: $dark-text;
  background: #ffffff;
  box-shadow: 1px 0 2px rgba(0,0,0,0.1);
}

.mainmenu .item {
  display: flex;
  align-items: center;
  padding: 15px 25px;
  cursor: pointer;
  border-right: 1px solid rgba(255,255,255,0.4);
}

.mainmenu-logo,
.mainmenu-title {
  display: inline-block;
}

.item.mainmenu-logo {
  display: flex;
  align-items: center;
  height: 100%;
  & img {
    max-height: 100%;
  }
}

.mainmenu-title {
  margin-left: 10px;
  font-weight: bold;
}
