@import "../../styles/variables/variables";

.mainmenu {
  display: flex;
  height: 60px;
  color: $dark-text;
}

.mainmenu .item {
  position: relative;
  display: flex;
  align-items: center;
  padding: 15px 25px;
  cursor: pointer;
}

.mainmenu .item-submenu {
  padding: 15px;
  border-bottom: 1px solid $light-border;
  &:first-child {
    border-top: 1px solid $light-border;
  }
}

.mainmenu .item.item-right {
  margin-left: auto;
}

.mainmenu-logo,
.mainmenu-title {
  display: inline-block;
}

.item.mainmenu-logo {
  display: flex;
  align-items: center;
  height: 100%;
  & img {
    max-height: 100%;
  }
}

.mainmenu-title {
  margin-left: 10px;
  font-weight: 300;
}
