@import "../../styles/variables/variables";

.mainmenu {
  display: flex;
  height: 60px;
  color: $dark-text;
}

.mainmenu .item {
  position: relative;
  display: flex;
  align-items: center;
  padding: 15px 25px;
  cursor: pointer;
}

.mainmenu .item-submenu {
  padding: 15px;
  border-bottom: 2px solid $dark-text;
  border-left: 2px solid $dark-text;
  cursor: initial;
  &:first-child {
    border-top: 2px solid $dark-text;
  }
  .item-submenu-title {
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
  }
}

.mainmenu .item.item-right {
  margin-left: auto;
}

.mainmenu-logo,
.mainmenu-title {
  display: inline-block;
}

.item.mainmenu-logo {
  display: flex;
  align-items: center;
  height: 100%;
  & img {
    max-height: 100%;
  }
}

.mainmenu-title {
  margin-left: 10px;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}
