$color1: rgba(221, 227, 146, 1);
$color2: rgba(175, 190, 143, 1);
$color3: rgba(125, 133, 112, 1);
$color4: rgba(100, 111, 88, 1);
$color5: rgba(80, 75, 58, 1);

$success-color: rgb(111, 200, 130);
$fail-color: rgb(190, 48, 70);
$info-color: rgb(76, 124, 195);
$warn-color: rgb(224, 231, 102);