@import "../../styles/variables/variables";

.postexcerpt {
  padding: 20px 5px;
  margin-bottom: 40px;
  font-size: 18px;
  border-radius: 2px;

  h2 {
    text-decoration: none;
  }

  .postexcerpt-image-wrap {
    text-align: center;
  }

  .postexcerpt-image {
    object-fit: contain;
    max-width: 100%;
    height: auto;
    margin: 15px auto 0 auto;
  }

  .postexcerpt-title {
    padding-bottom: 5px;
    margin: 15px 0;
    font-weight: bold;
    font-size: 35px;
    border-bottom: 2px solid $dark-text;
  }

  .postexcerpt-content {
    font-size: 17px;
    font-family: "Lora", serif;
    line-height: 1.6;
  }
}
