@import "../../styles/variables/variables";

.postexcerpt {
  padding: 30px 5px;
  margin-bottom: 40px;
  font-size: 18px;
  border-radius: 2px;

  h2 {
    text-decoration: none;
  }

  .postexcerpt-title {
    padding-bottom: 5px;
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 30px;
    border-bottom: 2px solid $dark-text;
  }

  .postexcerpt-content {
    font-size: 17px;
    font-family: "Lora", serif;
    line-height: 1.6;
  }
}
