.hamburgermenu .submenu {
  position: absolute;
  top: 100%;
  right: 0;
  display: none;
  max-width: 300px;
  padding: 20px;
  margin-top: 1px;
  background: #ffffff;
  box-shadow: 1px 0 2px rgba(0,0,0,0.1);
  &.open {
    display: block;
  }
}

.hamburgermenu .icon {
  font-size: 25px;
}
