.hamburgermenu .submenu {
  position: absolute;
  top: 100%;
  right: 0;
  display: none;
  width: 300px;
  margin-top: 1px;
  background: #ffffff;
  &.open {
    display: block;
  }
}

.hamburgermenu .icon {
  font-size: 25px;
}
